<%= form_with(model: @listing, local: true) do |form| %>
<div class="form-field">
    <%= form.label :title %>
    <%= form.text_field :title %>
</div>
<div class="form-field">
    <%= form.label :description %>
    <%= form.text_area :description %>
</div>
<div class="form-field">
    <%= form.label :category %>
    <%= form.select :category, ['road', 'mtb', 'city/commuter', 'traithlon/TT', 'cyclocross/gravel', 'cargo', 'other']%>
</div>

<%= fields_for(@location) do |f| %>
    <div class="form-field">
        <%= f.label :address %>
        <%= f.text_area :address %>
    </div>

    <div class="form-field">
        <%= f.label :post_code %>
        <%= f.text_field :post_code %>
    </div>

    <div class="form-field">
        <%= f.label :city %>
        <%= f.text_field :city %>
    </div>

    <div class="form-field">
        <%= f.label :country %>
        <%= f.text_field :country %>
    </div>
<%end%>
<div class="form-field">
    <%= form.label :instant_pickup %>
     <%= form.check_box :instant_pickup, { checked: false }, 'true', 'false' %> 
 </div>  
<div class="form-field">
    <%= form.label :image %>
    <%= form.file_field :image, accept:'image/png,image/gif,image/jpeg,image/jpg' %>
</div>
<div class='actions'>
    <%= form.submit class: 'submit-button' %>
</div>
<% end %>



