<div class="outer-container">
    <%= form_tag(listings_path, method: 'get') do %>
      <%= text_field_tag(:search, params[:search]) %>
      <%= date_field_tag(:start_date, params[:start_date]) %>
       <%= date_field_tag(:end_date, params[:end_date]) %>
      <%= submit_tag("Search", name: nil) %>
    <% end %>

<h1 class="heading">Bikeshare App</h1>
<h3>A peer to peer Bikeshare service</h3>
<div class="content-container">
    <% @listings.each do |listing| %>
        <div class="listing-container">  
            <%= link_to listing.title, listing, class: 'listing-title'%>
            <%= image_tag listing.image if listing.image.attached? %>
        </div>
    <%end%>
</div>
</div>







