
<div class="outer-container">
<div class="options-bar">
<div class="search-bar">
    <%= form_tag listings_path, method: 'get', class: 'search-form', id: "search-form" do %>
    <div class="search-field">
      
      <%= text_field_tag :search, params[:search], placeholder: "Enter city" %>
    </div>
    <div class="search-field">
      
      <%= date_field_tag :start_date, params[:start_date], placeholder: "From" %>
    </div>
    <div class="search-field">
       
       <%= date_field_tag :end_date, params[:end_date], placeholder: "To" %>
    </div>
    <%# <div class="search-field">
       <%= label_tag(:instant_pickup, "Instant pickup available") %>
       <%# <%= check_box_tag(:instant_pickup, params[:instant_pickup]) %> 
    <%# </div> %> 
        
      <%= submit_tag "Search", name: nil, class: 'button blue-button', id: 'search-button' %>
    <%end%>
    </div>
    <form action="/listings" method="get" class="sort-form">
    <label for="sort_method">Highest Rated</label>
    <input type="radio" name="sort_method"value="0" checked/>
    <label for="sort_method">Most Ratings</label>
    <input type="radio" name="sort_method" value="1"/>
    <input type="submit" value="Sort" class="button edit-button">
    </form>
    
</div>



<div class="main-container">
<div class="map-container">
    <div style="height: 700px; width: 500px;" id="map"></div>
</div>
    <div class="listings-container">
    <div class="listings-header">
        <%if params[:search] %>
            <h2>Listings for <%=params[:search] != "" ? params[:search] : "Everywhere"%></h2>
        <%end%>
    </div>
        <% @listings.each do |listing| %>
            <div class="listing-container">
                <div class="image-container">  
                    <%= image_tag listing.image if listing.image.attached? %>
                </div>
                <div class="listing-info">
                    <%= link_to listing.title, listing, class: 'listing-title'%>
                    <p class="listing-description"><%=listing.description%></p>                    
                    <div class="details-container">
                        <p>Category: <%=listing.category%></p>
                        <p>Hourly rate: $<%=listing.hourly_rate%></p>
                        <p>Daily rate: $<%=listing.daily_rate%></p>
                    </div>
                </div>
            </div>
        <%end%>
    </div>

</div>
<%= javascript_pack_tag "leaflet/index" %>
</div>







