
<div class="outer-container">
<div class="options-bar">
<div class="search-bar">
    <%= form_tag listings_path, method: 'get', class: 'search-form' do %>
    <div class="search-field">
      
      <%= text_field_tag :search, params[:search], placeholder: "Enter city" %>
    </div>
    <div class="search-field">
      
      <%= date_field_tag :start_date, params[:start_date], placeholder: "From" %>
    </div>
    <div class="search-field">
       
       <%= date_field_tag :end_date, params[:end_date], placeholder: "To" %>
    </div>
    <%# <div class="search-field">
       <%= label_tag(:instant_pickup, "Instant pickup available") %>
       <%# <%= check_box_tag(:instant_pickup, params[:instant_pickup]) %> 
    <%# </div> %> 
        
      <%= submit_tag "Search", name: nil, class: 'button', id: 'search-button' %>
    <%end%>
    </div>

     <%= form_tag listings_path, method: 'get', class: 'sort-form' do %>
     <p>Sort by:</p>
     <div class="sort-option">
        <%= radio_button :sort_method, params[:sort_method], 1, :checked => true %> 
        <%= label :sort_method, 'Most ratings' %>
    </div>
    <div class="sort-option">
        <%= radio_button :sort_method, params[:sort_method], 0 %>
        <%= label :sort_method, 'Highest rated' %>   
    </div>
        <%= submit_tag "sort", name: nil, class: 'button', id: 'sort-button' %>
      <%end%>
</div>



<div class="main-container">
<div class="map-container">
    <div style="height: 700px; width: 500px;" id="map"></div>
</div>
    <div class="listings-container">
    <div class="listings-header">
        <%if params[:search] %>
            <h2>Listings for <%=params[:search] != "" ? params[:search] : "Everywhere"%></h2>
        <%end%>
    </div>
        <% @listings.each do |listing| %>
            <div class="listing-container">
                <div class="image-container">  
                    <%= image_tag listing.image if listing.image.attached? %>
                </div>
                <div class="listing-info">
                    <%= link_to listing.title, listing, class: 'listing-title'%>
                    <p><%=listing.description%></p>
                </div>
            </div>
        <%end%>
    </div>

</div>
<%= javascript_pack_tag "leaflet/index" %>
</div>







