
<div class="manage-container">
<h1>My Listings</h1>
<div class="manage-listings-container">
    <% @listings.each do |listing| %>
     <div class="manage-listing-container">
    <h2><%=link_to listing.title, listing %></h2>
    <%= image_tag listing.image if listing.image.attached? %>
    <p><%=listing.bookings.length%> bookings</p>
        <div class="links-container">
            <%= link_to "Edit", "/listings/#{listing.id}/edit", class: 'button' %>
            <%= link_to "Manage Availability", "/listings/#{listing.id}/bookings/new", class: 'button'%>
            <%= link_to "Delete", @listing , method: :delete, class: 'button'%> 
        </div>
    </div>
    <%end%>
</div>
</div>


