<% @listings.each do |listing| %>
<p><%=listing.title%></p>
    <%listing.bookings.each do |booking|%>
    <p>Booking id: <%=booking.id%></p>
    <p>From: <%=booking.start_date%> at <%=booking.start_time%></p>
    <p>To: <%=booking.end_date%> at <%=booking.end_time%>
    <p>Contact user: <%=booking.user.email%></p>
    <%end%>
    <%= link_to "Edit", "/listings/#{listing.id}/edit", class: 'edit-button' %>
    <%= link_to "Manage Availability", "/listings/#{listing.id}/bookings/new" %>
    <%= link_to "Delete", @listing , method: :delete, class: 'edit-button'%> 
<%end%>

