<div class="show-container">
<div class="calendar-container">
    <div class="calendar-content">
        <h3>Availability</h3>
        <div class="calendar">
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thur</div>
            <div>Fri</div>
            <div>Sat</div>
            <div>Sun</div>
            <%(Date.today..Date.today + 31).each do |date| %>
                <% if @listing.date_available?(date)%>
                <div class="available">
                    <p><%=date.day%></p>
                </div>
                <%else%>
                <div class="booked">
                    <p><%=date.day%></p>
                </div>
                <%end%>
            <%end%>
        </div>
        </div>
    </div>
    <div class="listing-container">
        <h1 class="listing-title"><%=@listing.title%></h1>
        <%= image_tag @listing.image if @listing.image.attached? %>
        <p><%=@listing.description%></p>
        <%if @listing.instant_pickup %>
            <p>Instant Pickup Available</p>
        <%end%>
        <%= link_to 'Make Booking', new_listing_booking_path(@listing), class: 'button' %>
        <% if current_user == @listing.user %>
            <%= link_to "Edit", edit_listing_path, class: 'button' %>
            <%= link_to "Delete", @listing , method: :delete, class: 'button'%>  
        <%end%>
        <h3>Leave a review</h3>
        <%= form_for [@listing, @review] do |form| %>
        <div class="form-field">
            <%= form.text_area :body %> 
        </div>
        <div class="form-field">
            <%= form.label :rating %>
            <%= form.select :rating, ['1','2','3','4','5']%>
        </div>
        <div class='actions'>
            <%= form.submit 'Submit', class: 'button'%>
        </div>
        <% end %>
        <% @listing.reviews.each do |review| %>
        <div class="review-container">
        <p><%=review.body%></p>
        <p>Rating: <%=review.rating%></p>
        <%if current_user.id == review.user_id %>
        <%= link_to 'Delete', listing_review_path(@listing, review), method: :delete, class: 'button' %>
        <%end%>
        </div>
        <% end %>
    </div>
</div>






 

