<h1 class="listing-title"><%=@listing.title%></h1>
<p><%=@listing.description%></p>
<%= image_tag @listing.image if @listing.image.attached? %>

<% if current_user == @listing.user %>
    <%= link_to "Edit", edit_listing_path, class: 'edit-button' %>
    <%= link_to "Delete", @listing , method: :delete, class: 'edit-button'%>  
<%end%>  
<%if @listing.instant_pickup %>
<p>Instant Pickup Available</p>
<%end%>
<h1>Availability</h1>

<div class="calendar">
    <div>Mon</div>
    <div>Tue</div>
    <div>Wed</div>
    <div>Thur</div>
    <div>Fri</div>
    <div>Sat</div>
    <div>Sun</div>
    <%(Date.today..Date.today + 31).each do |date| %>
        <% if @listing.date_available?(date)%>
        <div class="available">
            <p><%=date.day%></p>
        </div>
        <%else%>
        <div class="booked">
            <p><%=date.day%></p>
        </div>
        <%end%>
    <%end%>
</div>

<%= link_to 'Make Booking', new_listing_booking_path(@listing) %> 

