<div class="landing-container">
<div class="landing-content">
    <h1 class="landing-header">BikeFinder</h1>
    <h3 class="landing-subhead">Where do you want to ride?</h3>
        <%= form_tag listings_path, method: 'get', class: 'search-form' do %>
        <div class="search-field">
        <%= text_field_tag :search, params[:search], placeholder: "Enter city" %>
        </div>
        <div class="search-field">
        
        <%= date_field_tag :start_date, params[:start_date], placeholder: "From" %>
        </div>
        <div class="search-field">
        
        <%= date_field_tag :end_date, params[:end_date], placeholder: "To" %>
        </div>
        <%# <div class="search-field">
        <%= label_tag(:instant_pickup, "Instant pickup available") %>
        <%# <%= check_box_tag(:instant_pickup, params[:instant_picku]) %> 
        <%# </div> %> 
        <%= submit_tag "Search", name: nil, class: 'button' %>
        <%end%>
    </div>
</div>
